.gallery img{
    width: 100%;
}

h1 {
  text-align: center;  
}

h2 {
    font-family: fantasy;
    text-align: center;
    font-size: 30px;
    color: cornflowerblue;
    font-style: italic;
    padding: auto;
    margin-top: 50px;
}

h3 {
    font-family: Helvetica, sans-serif;
    font-size: 20px;
    color: cornflowerblue;
    text-align: center;
}

h4 {
    font-family: Impact, fantasy;
    font-size: 20px;
    font-style: italic;
    color: cornflowerblue;
}

p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: black;
    text-align: justify;
}

#menu {
    width: 100%;
    height: 40px;
    background-color: cornflowerblue;
    position: fixed;
    top: 0;
}

#menu a{
    color: white;
    font-family: Helvetica, sans-serif;
    font-size: 18px;
    text-decoration: none;
    font-weight: 800;
    padding-left: 20px;
    padding-right: 20px;

}

#menu a:hover {
    color: #5077bd;
}

#content p{
    text-align: center;
}

#team {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 20px auto;
}

#team img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin: 10px;
}

#team h4 {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: cornflowerblue;
}

#team p {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
}

#map {
    display: flex;
    justify-content: center;
    margin: 50px auto;
}

#map img {
    width: 100%;
    height: 600px;
}

#footer {
    width: 100%;
    height: 100px;
    background-color: cornflowerblue;
    padding-top: 0.5px;
}

#footer p {
    text-align: center;
    font-family: Helvetica, sans-serif;
    font-size: 14px;
    color: white;
}